<!DOCTYPE html>
<html>
<head>
    <title>Harry Dance Academy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="/static/img/logo.png" alt="Logo">
                HDA
            </div>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Class Info</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </nav>

    <section id="introSection">
        <div>Welcome to Harry's Dance Academy</div>
        <div class="small">Eat Sleep Dance Repeat</div>
    </section>

    <section id="missionSection">
        <div class="card">
            <h3>Dance Perfection</h3>
            <div class="card-Box">
                <div class="card-img">
                    <img src="">
                </div>
                <div class="card-content"></div>
            </div>
        </div>

        <div class="card">
            <h3>Dance The Way You Like</h3>
            <div class="card-Box">
                <div class="card-img">
                    <img src="">
                </div>
                <div class="card-content"></div>
            </div>
        </div>

        <div class="card">
            <h3>Expert Teaching</h3>
            <div class="card-Box">
                <div class="card-img">
                    <img src="">
                </div>
                <div class="card-content"></div>
            </div>
        </div>
    </section>

    <section id="sponsorsSection">
        <h2>Our Sponsors</h2>
        <div id="Sponsers">
            <img src="" alt="Sponser Image" name="SpImage">
            <img src="" alt="Sponser Image" name="SpImage">
            <img src="" alt="Sponser Image" name="SpImage">
            <img src="" alt="Sponser Image" name="SpImage">
        </div>
    </section>

    <footer id="footer">
        Copy Right 2019 Appu_skDanceAcademy.com | All Rights Reserved
    </footer>
</body>
</html>
